# Python
__pycache__/
*.pyc

# Virtual env
.venv/
env/

# Data
data/raw/
data/backup/
*.csv
*.h5

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Repomix
*repomix*

# Results
results/
results_backup/
